.label-as-badge {
	border-radius: 1em;
}
.favorite {
  background-color: #d9edf7;
  border: 1px solid #709CA4;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.removed {
  background-color: #ccc;
  border: 1px solid #709CA4;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
