{% extends 'base.html' %}
{% block title %}Item{% endblock title %}
{% block head %}{% endblock head %}
{% block nav %}
	<li><a href="{% url 'tags_view' %}" title="">Tags</a></li>
	<li><a href="{% url 'home' %}" title="">Home</a></li>	
{% endblock nav %}
{% block container %}
	<div class="row">
		<div class="col-sm-12 col-md-12 main">
			{% block pageheaders %}
				<h1 class="page-header">{{ item.text }}</h1>								
			{% endblock pageheaders %}
			{% block alerts %}{% endblock alerts %}
			<div class="col-md-4"><span class="glyphicon glyphicon-calendar"></span> Created: <span class="badge">{{ item.created }}</span></div>
			<div class="col-md-4"><span class="glyphicon glyphicon-calendar"></span> Updated: <span class="badge">{{ item.updated }}</span></div>
			<div class="col-md-4"><span class="glyphicon glyphicon-calendar"></span> Completed: <span class="badge">{{ item.completed_date }}</span></div>	
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-12 col-md-12 main">
		
			<form class="form-horizontal" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_due_date" class="col-sm-2 control-label">Due date:</label>
					<div class="col-sm-10">
						<div class='input-group date' id='datetimepicker1'>
							<input type='text' class="form-control" id="id_due_date" name="due_date"  />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<script type="text/javascript">
						    $(function () {
						    	var due_date = "{{ item.due_date }}";						
						    	if (due_date !== "None") {						    
						    		due_date = moment(moment(due_date, "MMMM DD, YYYY, hh:mm a.")).format('MM/DD/YYYY h:mm A');
							        
							        $('#datetimepicker1').datetimepicker({
							        	defaultDate: due_date
							        });								        
						    	} else {
						    		$('#datetimepicker1').datetimepicker();
						    	}						    						        
						    });
						</script>
					</div>				
				</div>
				<div class="form-group">
					<label for="id_tags" class="col-sm-2 control-label">Tags:</label>
					
					<div class="col-sm-10">
						<input class="form-control" id="id_tags" name="tags" type="text" value="{{ tags }}" data-role="tagsinput" >
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</div>				
			</form>			           	
		</div>
	</div>	
	
{% endblock container %}

